* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
}

a > span{
    margin-left: 30px;
}
.banner {
    background-image:  linear-gradient(to top, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.8));
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: bold;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    /* color: rgb(255, 40, 40); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    text-align: center;
}

img {
    width: 3rem;
}

#logo {
    border-radius: 50px;
}

main {
    margin: 20px 20px 100px;
}

nav {
    padding: 0 10px;
    margin: 0;
    width: 100%;
    background-color: rgb(10, 20, 100);
    box-shadow: 5px 10px 20px rgb(0, 0, 0);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
}

.menu-links:hover {
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 3vh;
    font-weight: bolder;
}

#menu-line {
    display: none;
}

.small-screen-menu {
    padding-top: 30px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    /* border-radius: 0 0 20px 20px; */
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: space-between;
    overflow-y: auto;
    
}

#menu-line i {
    margin: 20px;
    cursor: pointer;
    font-size: 24px; /* Adjust the size as needed */
    color: white; /* Adjust the color as needed */
}

.small-screen-menu ul {
    list-style: none;
    align-self: flex-start;
    margin-left: 20px;
}

#mbar {
    width: 40px;
    margin: 20px;
    align-self: flex-start;
    cursor: pointer;
    font-size: 30px;
    color: azure;
}

.small-screen-menu ul li {
    text-align: left;
    padding: 5px 30px;
    margin-top: 20px;
}

.drop-down-screen-links {
    font-size: 15px;
    color: white;
    font-weight: bolder;
    transition: background-color 0.3s;
}

.drop-down-screen-links:hover {
    font-weight: bolder;
    color: yellow;
}

/* .logo {
    color: white;
    width: 25px;
} */



/* Main Content Styles */
/* main {
    padding: 20px 0;
} */

section{
    margin: 30px 0;
    background-color: #e6e6e6;
    padding: 40px;
    width: auto;
    border-radius: 10px;
}

.section-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.section-contact {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 20px;
}

/* #contact-form {
    display: grid;
    grid-gap: 10px;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#contact-form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
} */

.login-form form{
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.9);
}
.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.input {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    font-size: 3vw;
}

.login-form button {
    min-width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}


.section-home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/* .hero-content {
    max-width: 800px;
    margin: 0 auto;
} */

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.cta-button {
    font-size: 3vh;
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}


.get-involved {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.section-get-involved h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.section-get-involved p {
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #666;
}

.action-buttons {
    max-width: 60%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
    align-self: center;
    margin: auto;
}
section{
    margin: 20px auto;
    background-color: #e6e6e6;
    padding: 40px;
    width: auto;
    border-radius: 10px;
}

.section-about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.about-text {
    flex: 1 1 60%;
    text-align: left;
}

.about-image {
    flex: 1 1 35%;
    
    border-radius: 10px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.section-leadership h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.leadership-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}

.leader-card {
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/* .leader-image{
    box-shadow: 5px 5px 20px rgba(0, 0, 0);
} */

.leader-image img {
    padding: 20px 0;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.leader-details h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.leader-details p {
    color: #666;
}


.section-issues h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.issue-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.issue {
    flex: 1 1 30%;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.issue h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.issue p {
    color: #666;
}

/* Event Section */

.section-events h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.event {
    flex: 1 1 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-date {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.event-date .day {
    font-size: 1.5rem;
}

.event-date .month {
    font-size: 1rem;
}

.event-details{
    padding: 20px;
}

.event-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.event-details p {
    color: #666;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #555;
}

/* New section */

.section-news h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.news-item {
    flex: 1 1 45%;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.news-image {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}



.news-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.news-details p {
    color: #666;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}


/* Small-Screen Functionalities */

@media screen and (max-width: 780px) {
    footer {
        color: white;
        background-color: rgb(0, 0, 0);
    }

    footer div ul {
        margin-right: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    nav {
        width: 100%;
        box-shadow: 2px 5px 20px;
    }

    .menu-list {
        display: none;
    }

    #menu-line {
        display: block;
        cursor: pointer;
    }


    section{
        margin: 30px auto;
        background-color: #e6e6e6;
        padding: 20px 15px;
        width: auto;
        border-radius: 10px;
    }
}



/* Footer */

footer {
    color: azure;
    background-image: linear-gradient(rgba(50, 50, 50, 1), rgba(0, 0, 0, 1));
    padding: 20px 10px;
    background-color: gainsboro;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div ul {
    margin-right: 0;
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer div ul li {
    margin: 0 5px 0 20px;
}